{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "@return_value": true,
        "@identical": true,
        "@conditional_negotiation": true
    }
}